<ul>
  <li><a href="<%= new_user_session_path%>">LOGIN</a></li>
  <li><a href="<%= new_user_registration_path%>">SIGN UP</a></li>
  <li><a href="/users/auth/facebook">SIGN IN WITH FACEBOOK</a></li>
</ul>