<section id="header_c">
  <div class="row">
    <div class="eight columns">
      <div class="n_logo"><a href="/"><img src="/assets/n_logo2.png"></a></div>
    </div>
    <div class="eight columns cnav">
      <nav class="n_nav center">
        <ul>
          <li><a href="<%= new_user_session_path%>">LOGIN</a></li>
          <li><a href="<%= new_user_registration_path%>">SIGN UP</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>